* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    width: 1000px;
    height: 700px;
    display: flex;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
}

.left {
    margin-left: 80px;
    margin-top: 100px;
    width: 400px;
    height: 550px;
}

.right {
    margin-top: 150px;
    height: 600px;
    width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right .input {
    height: 30px;
    margin-bottom: 50px;
    width: 300px;
    border: none;
    border-bottom: 2px solid;
}

.right img {
    margin-left: 20px;
}

.img:hover {
    border: 5px solid white;
}

button {
    border: 1px solid white;
    color: white;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    background-color: cornflowerblue;
    border-radius: 5px;
}

button:hover {
    border: 5px solid;
}